PyQt6==6.11.0
requests==2.34.2
beautifulsoup4==4.15.0
pytest==9.1.1
selenium==4.45.0
websockets==16.0
ndgr-client @ git+https://github.com/tsukumijima/NDGRClient@c135027e9666621d18101db978f3309cf111a412
faster-whisper==1.2.1
huggingface_hub==0.36.2
ctranslate2==4.8.0
omegaconf==2.3.1
torch==2.8.0
transformers==4.57.6
Janome==0.5.0
openai==2.43.0
moviepy==1.0.3
pydub==0.25.1
numpy==2.4.6
pillow==12.2.0
